<div class="row">
    <h1> Proyectos realizados </h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2> Proyecto 01 </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quod dolor quo illo, ad sit cumque, mollitia, dolore quam 
                ullam voluptate vitae modi ducimus assumenda quibusdam nobis 
                architecto debitis temporibus quas.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="assets/OtavioCV.png" 
                     class="img-fluid img-proyecto" 
                     alt="Imagen del proyecto 01"> <!-- Cambiar imagen por la del Proyecto 01-->
        </div>
    </div>
</div>