
<div class="row">
    <h1 style="padding-bottom: 20px"> Educacion </h1> <!-- Corregir acentos en teclado espanol -->
    <div class="col-lg-11">
        <ul>
            <li>
                <h2> Educacion 1 </h2> - 
                <h3> (Titulo) - </h3>
                <h3> (Fecha) </h3>
            </li>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Quasi alias beatae ullam consectetur, atque blanditiis 
                 totam saepe amet voluptatibus sint perspiciatis vel incidunt 
                 ab quibusdam sequi reprehenderit! Eaque, quibusdam laborum.
                </p>
         </ul>
         <ul>
            <li>
                <h2> Educacion 2 </h2> - 
                <h3> (Titulo) - </h3>
                <h3> (Fecha) </h3>
            </li>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Quasi alias beatae ullam consectetur, atque blanditiis 
                 totam saepe amet voluptatibus sint perspiciatis vel incidunt 
                 ab quibusdam sequi reprehenderit! Eaque, quibusdam laborum.
                </p>
         </ul>
         <ul>
            <li>
                <h2> Educacion 3 </h2> - 
                <h3> (Titulo) - </h3>
                <h3> (Fecha) </h3>
            </li>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Quasi alias beatae ullam consectetur, atque blanditiis 
                 totam saepe amet voluptatibus sint perspiciatis vel incidunt 
                 ab quibusdam sequi reprehenderit! Eaque, quibusdam laborum.
                </p>
         </ul>
    </div>
</div>