
.row {
    padding: 20px;
}

div {
    background-color: #e7ecf3; /* Averiguar si es el color final */
}

h1, h2, h3 {
    display: inline;
    color: #305589;
}

.bi-trash3 {
    color:whitesmoke;    
}

.bi-pencil-fill {
    color:green;
}
