
/*Editar Estilos del Login*/
.gradient-custom {
    /* fallback for old browsers */
    background: #031e37;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(2, 6, 36), rgb(103, 142, 210));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(2, 6, 36), rgb(103, 142, 210))
    }