
<div class="row"> <!-- Averiguar si es la configuracion final de colores y tamanos -->
   <h1 style="padding-bottom: 20px"> Hard & Soft skills </h1>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Adobe Photoshop -->
    <circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#24436f'"
    [innerStrokeColor]="'#6c8dc3'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoPS.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"   
    [backgroundColor]="'#f7fafe'"      
    ></circle-progress> 
    <p id="nombreskill"> Photoshop </p>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Adobe Illustrator -->
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#24436f'"
    [innerStrokeColor]="'#6c8dc3'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoAI.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"      
    [backgroundColor]="'#f7fafe'"   
    ></circle-progress>
    <p id="nombreskill"> Illustrator </p>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Autocad -->
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#24436f'"
    [innerStrokeColor]="'#6c8dc3'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoAC.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"     
    [backgroundColor]="'#f7fafe'"    
    ></circle-progress>
    <p id="nombreskill"> Autocad </p>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Soft Creativity -->
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#24436f'"
    [innerStrokeColor]="'#6c8dc3'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/creative.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"        
    [backgroundColor]="'#f7fafe'" 
    ></circle-progress>
    <p id="nombreskill"> Creativity </p>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Communication -->
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#24436f'"
    [innerStrokeColor]="'#6c8dc3'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/comunication.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"    
    [backgroundColor]="'#f7fafe'"     
    ></circle-progress>
    <p id="nombreskill"> Communication </p>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Teamwork -->
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#24436f'"
    [innerStrokeColor]="'#6c8dc3'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/teamwork.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"   
    [backgroundColor]="'#f7fafe'"     
    ></circle-progress>
    <p id="nombreskill"> Teamwork </p>
   </div>
</div>