
<div class="row"> <!-- Averiguar si es la configuracion final de colores y tamanos -->
   <h1> Hard & Soft skills </h1>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Adobe Photoshop -->
    <circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoPS.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"        
    ></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Adobe Illustrator -->
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoAI.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"        
    ></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Autocad -->
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoAC.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"        
    ></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Soft skill 1 -->
    <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoPS.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"        
    ></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Soft skill 2 -->
    <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoPS.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"        
    ></circle-progress>
   </div>
   <div class=" text-center col-sm-4 col-md-4 col-lg-4"> <!-- Barra de progreso Soft skill 3 -->
    <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
    [title]="'Photoshop'"
    [titleFontSize]="'1.7em'"
    [showUnits]="false" 
    [showSubtitle]="false"
    [imageSrc]="'assets/logoPS.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"        
    ></circle-progress>
   </div>
</div>