
.row {
    padding: 10px;
}
div {
    background-color: #e7ecf3; /* Averiguar si es el color adecuado */   
}

/* Etiqueta texto */
#acerca {
    text-align: left;
}

/* Etiqueta Nombre */
#nombre {
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 5%;
    margin-left: 0px;
    color: #305589;
    text-align: center;
}

/* Etiqueta Funcion */
#funcion {
    font-weight: bold;
    margin-top: 0%;
    color:#305589;
    text-align: center;
}

/* Configuracion de foto de perfil */
@media (min-width: 576px) {
    #fotoperfil {
        position: absolute;
        width: 15%;      
        left: 2.1%; 
        top: 530px; 
    }
}
@media (max-width: 575px) {
    #fotoperfil {
        position: absolute;
        width: 40%;      
        left: 29%; 
        top: 740px;
    }
}

h1, h2, h3 {
    color: #305589;   
    text-align: center; 
}