
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="assets/OtavioCV.png" 
             class="img-fluid"
             alt="Foto de perfil"
             id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}} </p>
        <p id="funcion"> Full Stack Developer Jr </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mi </h1>
            <p id="acerca"> Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Officiis tempora, doloribus 
                vero a commodi nihil sed, reprehenderit mollitia 
                beatae magni non debitis omnis nostrum dignissimos 
                quasi cum, odit voluptatibus maiores?
            </p>
        </span>
    </div>
</div>